* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: top-font;
  src: url(../art/Norse-Bold.otf);
}

:root {
  --width-of-pic: 38%;
  --form-container: 30%;
  --padder-color: #fafbfc;
  --button-color: #596d48;
  --text-color: #000000;
  /* --text-color: #010539; */
  --button-border: #e5e7eb;
}

body {
  display: flex;
  justify-content: center;
}

p,
h1 {
  opacity: 0.9;
  color: var(--text-color);
}

.container {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: var(--width-of-pic);
}

.sidebar img {
  height: 100%;
  width: 130%;
}

.emblem {
  height: 15%;
  width: 100%;
  position: relative;
  top: -80vh;
}

.backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* this allows any child elements to have full opacity without forcing inheritance */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.emblem img {
  height: 80%;
  width: 20%;
  color: white;
}

.text {
  color: white;
  font-size: 5rem;
  font-family: top-font, system-ui;
  position: relative;
  top: 0.5rem;
}

.copyright__container {
  color: white;
  width: 100%;
  position: relative;
  top: -19vh;
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: 0.75rem;
  opacity: 0.7;
}

.copyright a {
  color: white;
}

.form__container {
  height: 100vh;
  width: calc(100% - var(--width-of-pic));
  display: flex;
  flex-direction: column;
}

.header {
  padding: 18% 20% 0 5%;
  height: calc((100% - var(--form-container)) / 2);
  background-color: var(--padder-color);
  opacity: 100;
  box-shadow: inset 0 -1rem 5px -18px rgba(0, 0, 0, 0.1);
}

.header p {
  font-size: 1.2rem;
}

.main {
  padding: 0 0 0 5%;
  height: var(--form-container);
  background-color: white;
}

.main h1 {
  font-size: 1.2rem;
  padding-top: 2%;
}

.main ul {
  padding-top: 3%;
}

.footer {
  padding: 4% 0 0 5%;
  height: calc((100% - var(--form-container)) / 2);
  background-color: var(--padder-color);
  box-shadow: inset 0 1rem 10px -15px rgba(0, 0, 0, 0.23);
}

.submit {
  position: relative;
  padding: 9vh 0 0 0;
}

.submit button {
  background-color: var(--button-color);
  color: white;
  font-size: 0.8rem;
  padding: 12px 44px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit p {
  padding: 4% 0 0 0;
}

.submit a {
  color: var(--button-color);
  text-decoration: none;
}

/* Form Layout */
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

li p {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  gap: 3px;
}

p input {
  border: 1px var(--button-border) solid;
  padding: 0.3rem 0 0.3rem 0.45rem;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 13rem;
  outline: none;
  /* removes outline on focus */
}

p input:focus {
  border: 1px solid blue;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.2);
}

p input:valid {
  border: 1px solid green;
}

p input:invalid {
  border: 1px solid red;
}

/* p input:invalid:required { */
/*   border: 1px solid rgba(0, 0, 0, 0.1); */
/* } */
